.page{
  
  display: flex;
  
  background: linear-gradient(120deg, #4e73df, #1cc88a);
}



.login-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(120deg, #4e73df, #1cc88a);
}

.login-card {
  width: 350px;
  padding: 30px;
  background: white;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.login-card h2 {
  margin-bottom: 10px;
}

.subtitle {
  color: gray;
  margin-bottom: 20px;
}

.login-card input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.login-card button {
  width: 100%;
  padding: 10px;
  background: #4e73df;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-card button:hover {
  background: #2e59d9;
}
